@charset "UTF-8";
/* CSS Document */
body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #ffffff;
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #5FCF80; /* Green */
      color: #ffffff;
  }


  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
.btn-trial a{
	background-color: #5FCF80;
	border-radius: 25px;
	color: #ffffff !important;
	border: 1px solid #5FCF80;
}
.viz1502767209281{
	margin-right: 10000000000px;
}
.btn-trial a:hover, .btn-trial a:focus{
	border: 1px solid #5FCF80;
	background-color: #fff;
	color: #5FCF80 !important;
}
  .container-fluid {
      padding-top: 1px;
      padding-bottom: 70px;
  }
.container-adv {
      padding-top: 1px;
      padding-bottom: 1px;
  }
.container{
	color:black;
	padding-bottom: 20px;
}


.container-bottom {
      padding-top: 70px;
      padding-bottom: 70px;
  }
.nav-pills a{
	color:#ffffff;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: black;
	border-radius: 0;
}
.white .active a,
.white .active a:hover {
    background-color: white;
}
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
.navbar-nav a{
	color: #555555;
	font-weight: bold;
}
  .navbar-nav  li a:hover{
	background-color: #fff;
      color: #5FCF80 !important;
  }